html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        title My App
        each css in STATIC_ASSETS.css
            link(rel="stylesheet", href=css)
    body
        #mount
            .loader
                include ./loader.html
        script.
            window.CARE_CONFIG = !{BOOTSTRAP_CONFIG};
        each js in STATIC_ASSETS.js
            script(src=js)
